/* You can add global styles to this file, and also import other style files */
@import "~swiper/swiper-bundle";
:root {
  --dots: rgb(83, 63, 63);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
